@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--black: black;
	--white: white;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	user-select: none;
	-webkit-user-select: none;

	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;

	-webkit-font-smoothing: antialiased;

	background-color: var(--black);
	color: var(--white);
}

a,
button {
	all: unset;
	box-sizing: border-box;
	cursor: pointer;
}

.char {
	--opa: 0;
	position: relative;
}

.char::after {
	content: '';
	width: 1ch;
	top: 0;
	left: 0;
	position: absolute;
	opacity: var(--opa);

	background: rgb(255, 255, 255);
	height: 100%;
}
